<%= form_for(@stackup) do |f| %>
  <% if @stackup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stackup.errors.count, "error") %> prohibited this stackup from being saved:</h2>

      <ul>
      <% @stackup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
